body {
	font-family: sans-serif;
	background-color: #eeeeee;
}


@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.file-upload {
    padding: 15% 3%;
    margin: 0 auto;
    border-radius: 10px;
    border: solid 1.5px #f6f7fa;
    background-color: #f6f7fa;
}

.file-upload-btn {
	width: 100%;
	margin: 0;
	color: #fff;
	background: #1fb264;
	border: none;
	padding: 10px;
	border-radius: 4px;
	border-bottom: 4px solid #15824b;
	transition: all 0.2s ease;
	outline: none;
	text-transform: uppercase;
	font-weight: 700;
}

.file-upload-btn:hover {
	background: #1aa059;
	color: #ffffff;
	transition: all 0.2s ease;
	cursor: pointer;
}

.file-upload-btn:active {
	border: 0;
	transition: all 0.2s ease;
}

.file-upload-content {
	display: none;
	text-align: center;
}

.file-upload-input {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100;
	height: 100%;
	outline: none;
	opacity: 0;
	cursor: pointer;
}

.file-upload-image {
    max-height: 60%;
    max-width: 60%;
    margin: auto;
    padding: 10px;
  }

  .image-upload-wrap {
    width: 70%;
    margin: 0 auto;
    position: relative;
    object-fit: contain;
    border-radius: 10px;
    border: dashed 1.5px #ffbb00;
    background-color: #ffffff;
}


.image-dropping,
.image-upload-wrap:hover {
	background-color: #eaeaea;
	border: 4px dashed #ffffff;
}

.image-title-wrap {
	 padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
	text-align: center;
}

.drag-text h3 {
	font-weight: 100;
	text-transform: uppercase;
	color: #ffbb00;
	padding: 60px 0;
}

.result-message {
	font-size: 2rem;
	font-family: MaplestoryOTFBold;
}

.tray-again-btn {
	border-radius: 40px;
	background-color: #ffbb00;
	border: solid 1.5px #ffbb00;
	margin: 0 auto;
}

.try-again-text {
	display: block;
  font-size: 1.5rem;
  text-align: center;
  color: #ffffff;
  padding: 4px 15px;
	font-family: MaplestoryOTFBold;
}

.nav-distance {
	padding: 2.1% 7.7%;
}

.navbar-light .navbar-brand {
    line-height: 1.68;
    text-align: left;

    font-family: MaplestoryOTFBold;
  }

  .nav-item .active ~{
    color: darkslategray; 
    font-family: MaplestoryOTFBold;
  }

  .nav-item{
    color: #35465d; 
    font-family: MaplestoryOTFBold;
  }



.upload-icon {
	width: 50%;
	height: 50%;
}

.youtube-icon {
	width: 50px;
	height: 45px;
}

.youtube-link{
    font-family: MaplestoryOTFBold;
    color: red;
    font-size: 1.2rem;
}

.section {
	margin-top: 100px;

}

.title {
	font-family: MaplestoryOTFBold;
    text-align: center;
    line-height: 1.67;
    color: darkslategray;
}

.subtitle {
	font-family: MaplestoryOTFBold;
    text-align: center;
    color: darkslategray;
}


.upload-text {
	font-size: 2rem;
	font-family: MaplestoryOTFBold;
}

.at-share-btn-elements {
	margin: 0 auto;
}

.result-main{
	font-family: MaplestoryOTFBold;
}

.text-center{
	font-family: MaplestoryOTFBold;
    color:#FFBB00;
    font-size: 1.5rem;
}

.Apple-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(117, 204, 84, 0.2);
  }
  .Apple-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: #A1E802;
  }
  .Peach-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color:  rgba(235, 166, 190, 0.2);
  }
  .Peach-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color:#F98F92;
  }
  .Apricot-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: #F9C9A1;
  }
  .Apricot-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: #F5994D;
  }
  .Lemon-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(251, 176, 59, 0.2);
  }
  .Lemon-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: #FFD732;
  }
  .Pomegranate-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: #ECD0D0;
  }
  .Pomegranate-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color:#980000;
  }
  .Cherry-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: #FFCDCD;
  }
  .Cherry-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: #E10909;
  }
  .percent-text {
    font-size: 1rem;
    color: #ffffff;
  }
  .fruit-label {
      width: 20%;
      text-align: left;
      height: 2rem;
  }
  
  .bar-container {
    height: 2.7rem;
  }

  #label-container {
      width: 80%;
      margin: 0 auto;
      font-family: MaplestoryOTFBold;
  }
  
  .fruit-explain {
      font-size: 1.5rem;
      color: darkslategray;
  }
  .Apple-fruit-title {
      color: #A1E802;
  }
  .Apple-fruit-celeb {
      color: #A1E802;
      font-size: 1.2rem;
  }
  .Peach-fruit-title {
      color: #F98F92;
  }
  .Peach-fruit-celeb {
      color: #F98F92;
      font-size: 1.2rem;
  }
  .Lemon-fruit-title {
      color: #FFD732;
  }
  .Lemon-fruit-celeb {
      color: #FFD732;
      font-size: 1.2rem;
  }
  .Cherry-fruit-title {
      color: #E10909;
  }
  .Cherry-fruit-celeb {
      color: #FE4B38;
      font-size: 1.2rem;
  }
  .Pomegranate-fruit-title {
      color: #980000;
  }
  .Pomegranate-fruit-celeb {
      color: #980000;
      font-size: 1.2rem;
  }
  .Apricot-fruit-title {
      color: #F5994D;
  }
  .Apricot-fruit-celeb {
      color: #F5994D;
      font-size: 1.2rem;
  }
.footer{
	font-family: MaplestoryOTFBold;
}